.container {
  width: 100%;
  margin: 0 auto;
  margin-top: 2.25rem;
}

.levelHeader {
  font-size: 1.25rem;
  font-weight: 700;
  font-family: Poppins;
  color: #000;
  margin-bottom: 1.5rem;
}

.sidepan {
  width: 220px;
  border-right: 1px solid #c4c4c4;
  margin: 0 3.56rem 0 0;
}

.yearContainer {
  margin-bottom: 4.5rem;
}

.yearContainer .iconHolder {
  width: 1.56rem;
  height: 1.56rem;
  border-radius: 50%;
  background-color: rgba(54, 206, 138, 0.57);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 0.7rem;
  cursor: pointer;
}

.selectedYear {
  color: rgba(0, 0, 0, 0.7);
  font-size: 1rem;
  font-family: 400;
  text-transform: capitalize;
}

.semesterList {
  padding: 0;
  margin: 0;
}

.semesterList li {
  color: rgba(0, 0, 0, 0.7);
  font-size: 1.25rem;
  font-weight: 500;
  padding: 0.75rem 0;
  transition: 0.3s all ease;
  cursor: pointer;
}

.semesterList li:first-child {
  border-bottom: 1px solid #c4c4c4;
}

.semesterList li.active {
  color: #011d35;
}

@media only screen and (min-width: 992px) {
  .container {
    width: fit-content;
    text-align: center;
    margin: 0;
  }
}

@media screen and (max-width: 991px) {
  .sidepan {
    width: 100%;
    border-right: none;
    margin: 0 0 1.5rem 0;
  }

  .yearContainer {
    width: 100%;
    margin-bottom: 0.75rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .yearContainer .iconHolder {
    margin: 0 auto 0 0;
  }

  .semesterList {
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0 1.5rem;
  }

  .semesterList li {
    color: rgba(0, 0, 0, 0.7);
    font-size: 0.875rem;
    padding: 0.75rem 0;
    transition: 0.3s all ease;
    cursor: pointer;
  }

  .semesterList li::after {
    content: " ";
    height: 3px;
    width: 50%;
    background-color: transparent;
    display: block;
    margin: 0.25rem auto 0;
    transition: 0.5s all ease-in-out;
  }

  .semesterList li:first-child {
    border-bottom: none;
  }

  .semesterList li.active {
    font-weight: 500;
    color: #011d35;
  }

  .semesterList li.active::after {
    background-color: #36ce8a;
  }
}
