li{
 list-style: none;
 padding: 0;
 margin: 0;
}
ul{
 padding: 0;
 margin: 0;
}
.aside{
 background-color: #011D35;
 border-top-left-radius: 0.9375rem;
 border-top-right-radius: 0.9375rem;
 width: 100vw;
 z-index: 7;
}
.navContainer{
 background-image: url('../../../asset/images/NavBar/navMobileBg.png');
 background-size: cover;
 background-repeat: no-repeat no-repeat;
 background-position: center;
 border-top-left-radius: 0.9375rem;
 border-top-right-radius: 0.9375rem;
}
.navLogoImg{
 width: 2.8125rem;
 height: 2.8125rem;
 object-fit: cover;
}
.navUl{
 padding: 1rem 1rem;
}
.Link{
  text-decoration: none;
}
.navLi{
 font-family: "Just_a_Matter_of_Caps";
 font-size: 0.875rem;
 display: flex;
 flex-direction: column;
 line-height: 1;
 align-items: center;
 position: relative;
 cursor: pointer;
 font-weight: 400;
 text-decoration: none;
}

.navLiActive{
 position: relative;
}
.navLiActive::after{
 content: '';
 position: absolute;
 height: 0.25rem;
 max-height: 0.25rem;
 width: 2.25rem;
 background: #36CE8A; 
 border-radius: 0px 7.333px 7.333px 0px;
 bottom: -0.75rem;
 left: 50%;
 transform: translateX(-50%);
}
.navLi:hover::after{
 height: 100%;
}

.navLiImg{
 width: 1rem;
 height: 1rem;
 object-fit: cover;
 margin-bottom: 0.25rem;
}
@media only screen and (min-width: 767px){
  .navUl{
    padding: 0.75rem 0;
    width: 90%;
    margin: 0 auto;
  }
}
@media only screen and (min-width: 768px){
	.aside{
  width: fit-content !important;
  height: 100dvh;
  height: 100vh;
  border-radius: 0;
 }
 .navContainer{
  background-image: url('../../../asset/images/NavBar/NavBg.png');
 }
  .navLogoDiv{
  padding-top: 35px;
  margin-bottom: 85px;
 }
 .navLogoImg{
  width: 2.74819rem;
  height: 2.71963rem;
  object-fit: cover;
 }
 .Link{
  align-self: stretch;
 }
 .navUl{
  width: 100%;
  margin: 0;
  padding: 0;
 }
 .navLi{
  padding: 0px 0.625rem;
  margin-bottom: 4.2rem;
  font-size: 1rem;
  position: relative;
  list-style: none;
  text-decoration: none;
 }
 .navLi::after{
  content: '';
  position: absolute;
  height: 0;
  max-height: none;
  width: 0.25rem;
  background: #36CE8A; 
  border-radius: 0px 7.333px 7.333px 0px;
  top: 0;
  left: 0;
  transition: all 0.5s ease-in-out;
 }
 .navLi:hover::after{
  height: 100%;
 }
 .navLiActive::after{
  content: '';
  position: absolute;
  height: 100%;
  width: 0.5rem;
  background: #36CE8A; 
  border-radius: 0px 7.333px 7.333px 0px;
  top: 0;
  left: 0;
 }
 .navLiImg{
  width: 1.625rem;
  height: 1.625rem;
 }
}